@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

section {
    padding: 150px 100px;
}
 
.navbar {
    background-color: #080808;
    padding: 15px 100px;
    min-height: 65px;
    display:inline-block;
    align-items: center;
}

.logo{
    text-decoration: none;
    color: #c9a66c;              /*#cead77*/
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;  /* 1.8 * 16 = 28.8 */
}

 .navigation li a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.1em;
    font-weight: 400;
    padding-left: 30px;
}

.navigation a:hover{
    color: #c9a66c;
}

.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center; 
    background: url(img/Personal%20BG3.jpg) no-repeat;
    background-size: cover;
    background-position: right top;
    background-attachment: fixed;
    padding-top: 220px;
}

.main h2 {
    color: #fff;
    font-size: 1.4em;
    font-weight: 500;
}

.main h2 span {
    display: inline-block;
    margin-top: 10px;
    color: #c9a66c;
    font-size: 3em;
    font-weight: 600;
}

.main h3 {
    color: #fff;
    font-size: 1.5em;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 30px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.main-btn {
    color: #b59662;
    font-size: 1.3em;
    font-weight: 650;
    padding: 15px 28px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    letter-spacing: 1px;
    border-radius: 12px;
    margin-bottom: 40px;
    border: 2px solid #b59662;
}

.main-btn:hover {
    background-color: #b59662;
    color: #fff;
}

.social-icons a {
    color: #fff;
    font-size: 1.7em;
    padding-right: 30px;
}

.about {
    width: 100%;
    min-height: 65vh;
    align-items: center;
    background-color: #111111;
    padding: 50px 100px;
} 

.col {
    width: 500px;
    padding: 10px;
}

.image img {
    width: 100%;
    height: auto;
    max-width: 350px;
    max-height: 350px;
    margin-top: 75px;
    margin-left: 50px;
}

.about-me { 
    width: 100%;
    padding-right: 15px;
    padding-left: 30px;
    padding-top: 80px;  
}
.Sign {
    max-width: 150px;
    max-height: 150px;
    padding-top: 5px;
}

.about-me h2 {
    color: #c9a66c;
    font-size: 2.2em;
    font-weight: 700;
}

.about-me p {
    color: #d7d7d7;
    font-size: 1.0em;
    margin-top: 20px;
    line-height: 30px;
    letter-spacing: 0.5px;
}

.cards {
    background-color: #000000;
}

.title {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    color: #c9a66c;
    font-size: 2.2em;
    font-weight: 700;
    margin-bottom: 50px;
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    background-color: #111111;
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    border-radius: 10px;
    padding: 25px;
    margin: 20px;
    transition: 0.7s ease;
}

.card:hover {
    transform: scale(1.1);
}

.card .icon {
    color: #fff;
    font-size: 5em;
    text-align: center;
}

.info {
    text-align: center;
}

.info h3 {
    color: #c9a66c;
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
}

.info p {
    color: #d7d7d7; /*#ebebeb*/
    font-size: 0.9em;
}

.projects {
    background-color: #111111;
}

.projects .content{
    margin-top: 30px;
}

.project-card {
    background-color: #080808;
    border: 1px solid #555555;
    min-height: 14em;
    width: 23em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition: 0.7s ease;
}

.project-card:hover {
   transform: scale(1.1);
}

.project-card:hover .project-image {
    opacity: 0.9;
 }

.project-image img{
    width: 100%
}

.project-info {
    padding: 1em;
}

.project-category {
    font-size: 0.9em;
    color: #d7d7d7;
    font-weight: 500;
}

.project-title {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.project-info strong span {
    color: #c9a66c;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 600;
}

.more-details {
    color: #d7d7d7;
    font-size: 0.9em;
    font-weight: 500;
    text-decoration: none;
}

.more-details:hover {
    color: #d7d7d7;
    font-weight: 700;
}

.contact .icon{
    font-size: 4.5em;
}

.contact .icon{
    transform: scaleX(-1);
}

.contact .info p {
    font-size: 1.1em;
}

.footer {
    color: #fff;
    padding: 2em;
    display: flex;
    background-color: #080808;
    justify-content: space-between;
}

.footer-title {
    font-size: 1.3em;
    font-weight: 500;
}

.footer-title span {
    color: #c9a66c;
}

.footer .social-icons a{
    font-size: 1.3em;
    padding: 0 13px 0 0;
}

/*--------## Media Queries ##--------*/

@media (max-width:1200px){
    
      section{
        padding: 80px 20px;
    }

    header{
        padding: 10px 20px;
    }
    
    .navbar{
        padding: 10px 20px;
    }
    
    .navigation a{
        padding-left: 10px;
    }
    
   .main {
        padding: 250px 10px 0 10px;
    }
    
     .title{
        font-size: 2em;
    }
    
    .about {
        min-height: 65vh;
        padding: 50px 55px;
    }
     .about-me h2{
        font-size: 1.9em;
        }
    
    .col {
        padding: 20px 0px;
    }
    
    .content{
        flex-direction: column;
        align-items: center;
    }
}

/*-----------------------------------------*/

@media (max-width:640px){
    body{
        font-size: 12px;
    }
    .social-icons a{
        padding-right: 22px;
    }
    .social-icons {
        padding-right: 3px;
    }
    .image img {
        align-items: center;
        margin-left: 0px;
        max-width: 300px;
        max-height: 300px;
    }
}

/*-----------------------------------------*/ 

@media (max-width:300px){
    body{
        font-size: 10px;
    }
}

@media (max-width:280px){
    body{
        font-size: 8.5px;
    }
}

/*-----------------------------------------*/


